{
    "$schema": "app/vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "app/modules/auth/src",
            "app/system/modules/user/src/Model",
            "app/system/modules/user/src/Auth",
            "app/system/modules/user/src/Event"
        ],
        "excludes": [
            "Tests"
        ]
    },
    "logs": {
        "text": "tmp/infection/infection.log",
        "html": "tmp/infection/infection.html",
        "summary": "tmp/infection/summary.log",
        "json": "tmp/infection/infection.json"
    },
    "tmpDir": "tmp/infection",
    "phpUnit": {
        "configDir": ".",
        "customPath": "app/vendor/bin/phpunit"
    },
    "mutators": {
        "@default": true,
        "ReturnRemoval": {
            "ignore": [
                "Pagekit\\Auth\\Handler\\DatabaseHandler::read::50",
                "Pagekit\\Auth\\Handler\\DatabaseHandler::destroy::112"
            ]
        },
        "LessThan": {
            "ignore": [
                "Pagekit\\User\\Model\\User::parseOrExpr::273",
                "Pagekit\\User\\Model\\User::parseOrExpr::275",
                "Pagekit\\User\\Model\\User::parseAndExpr::289",
                "Pagekit\\User\\Model\\User::parseAndExpr::291",
                "Pagekit\\User\\Model\\User::parseNotExpr::303"
            ]
        },
        "LessThanNegotiation": {
            "ignore": [
                "Pagekit\\User\\Model\\User::parseOrExpr::273",
                "Pagekit\\User\\Model\\User::parseAndExpr::289"
            ]
        },
        "GreaterThanOrEqualTo": {
            "ignore": [
                "Pagekit\\User\\Model\\User::parseAtom::314",
                "Pagekit\\User\\Model\\User::parseAtom::323"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "Pagekit\\User\\Event\\LoginAttemptListener::onPreAuthenticate::45",
                "Pagekit\\User\\Model\\User::parseOrExpr::273",
                "Pagekit\\User\\Model\\User::parseAndExpr::289"
            ]
        },
        "LogicalOr": {
            "ignore": [
                "Pagekit\\User\\Event\\AccessListener::onConfigureRoute",
                "Pagekit\\User\\Model\\User::parseAtom::323"
            ]
        },
        "CastInt": {
            "ignore": [
                "Pagekit\\User\\Event\\LoginAttemptListener::onPreAuthenticate::45"
            ]
        },
        "DecrementInteger": {
            "ignore": [
                "Pagekit\\User\\Event\\LoginAttemptListener::onPreAuthenticate::45"
            ]
        },
        "IncrementInteger": {
            "ignore": [
                "Pagekit\\User\\Event\\LoginAttemptListener::onPreAuthenticate::45"
            ]
        }
    },
    "minMsi": 80,
    "minCoveredMsi": 80
}
