<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="app/vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         testdox="true"
>
    <testsuites>
        <testsuite name="Pagekit Test Suite">
            <directory>app/modules/*/src/Tests</directory>
            <directory>app/system/modules/*/src/Tests</directory>
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app/modules</directory>
            <directory suffix=".php">app/system</directory>
            <directory suffix=".php">app/console</directory>
        </include>
        <exclude>
            <directory>app/modules/*/src/Tests</directory>
            <directory>app/system/modules/*/src/Tests</directory>
            <directory>app/vendor</directory>
        </exclude>
    </source>

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
    </php>
</phpunit>